.inline {display:inline-block;margin-right: 30px;margin-bottom: 10px}
.list-item{padding:5px;}
.left[unequal=true]{background-color:#FFECEC;}
.right[unequal=true]{background-color:#EAFFEA;}
.comparatorColumn{width:20px; vertical-align:top; text-align:center}
#checkbox-container {margin-top:0.5cm}
/* diable bootstrap table cell margin */
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 0px;
}