@(entity: String)(versions: List[String])(allVersions: List[String])

@main("DBpedia-diff") {

    <div class="container">
        <div class="starter-template">
            <h1>@controllers.Application.decodeEntity(entity)</h1>
            <p class="lead"><a href="http://dbpedia.org/resource/@entity">
                http://dbpedia.org/resource/@controllers.Application.decodeEntity(entity)
            </a></p>
            <p>
            <div id="versions" class="btn-group">
                @for(version <- allVersions) {
                    <button type="button"  value="@version" class="btn@{if (versions.contains(version)) " btn-primary" else " btn-disabled"}">
                        @version
                    </button>
                }
            </div>
            <p>

            <div id="checkbox-container" class="inline">
                <p>Compare with predecessor</p>
                <input type="checkbox" name="compare-checkbox">
            </div>

            <div id="checkbox-container" class="inline">
                <p>Group by...</p>
                <input type="checkbox" name="group-by-checkbox">
            </div>

            <div id="tripleListPlaceholder"></div>
        </div>
    </div>


    <script type="text/html" id='tripleListTemplate'>
        <table class="table">
        <thead><tr>
            <th class="col-md-5"></th>
            <th class="col-md-5"></th>
        </tr></thead>
            <%
            _.each(data,function(block){ %>
            <%
            var left = templates.valueListTemplate({key:block.key, values:block.left, compareMode:compareMode, side:"left",
                                            flipKeyValue:flipKeyValue, templates:templates});
            var right = templates.valueListTemplate({key:block.key, values:block.right, compareMode:compareMode, side:"right",
                                            flipKeyValue:flipKeyValue, templates:templates});
            %>
            <tbody>
            <% if(compareMode) { %>
                <tr>
                    <td><%= left%></td>
                    <td><%= right%></td>
                </tr>
            <% }
            else { %>
                <tr>
                    <td colspan="2"><%= right%></td>
                </tr>
            <% } %>
            </tbody>
            <% }); %>
        </table>
    </script>

    <script type="text/html" id='valueListTemplate'>
        <%
        _.each(values, function(value) {
            var keyValuePair=templates.keyValuePairTemplate({key:key, value:value, flipKeyValue:flipKeyValue, templates:templates});
            var unequalitySymbol = (side === "right" ? "+" : "-");
            var comparatorColumnContent = (value.unequal ? unequalitySymbol : "");
            var unequalityAttribute = (compareMode ? "unequal="+value.unequal : "");
            var comparatorColumn = (compareMode ? '<td class="comparatorColumn">' + comparatorColumnContent + '</td>' : ""); %>
            <div class="list-item <%=side%>" <%=unequalityAttribute%> >
                <table>
                    <%=comparatorColumn%>
                    <td><%=keyValuePair%></td>
                </table>
            </div>
        <% }); %>
    </script>

    <script type="text/html" id="keyValuePairTemplate">
        <% var keyRepresentation = templates.valueTemplate({value:key});
        var valueRepresentation = templates.valueTemplate({value:value});
        if(!flipKeyValue) { %>
            <%=keyRepresentation%> <%=valueRepresentation%>
        <% } else { %>
            <%=valueRepresentation%> <%=keyRepresentation%>
        <% } %>
    </script>

    <script type="text/html" id='valueTemplate'>
        <% if(value.node === "iri") { %>
            <a href ="<%=value.plain%>">
        <% if(value.prefix !== undefined && value.suffix !== undefined) { %>
            <%= value.prefix%>:<%=value.suffix%> <% }
            else { %>
                <%= value.plain %>
            <% } %>
            </a>
        <% }
        else { %>
            &quot;<%= value.plain %>&quot; <% } %>
        <% if(value.node === "iri") { %>
            <% } %>
    </script>

}