@(entity: String)(versions: List[String])(allVersions: List[String])

@main("DBpedia-diff") {

    <div class="container">
        <div class="starter-template">
            <h1>@controllers.Application.decodeEntity(entity)</h1>
            <p class="lead"><a href="http://dbpedia.org/resource/@entity">
                http://dbpedia.org/resource/@controllers.Application.decodeEntity(entity)
            </a></p>
            <p>
            <div id="versions" class="btn-group">
                @for(version <- allVersions) {
                    <button type="button"  value="@version" class="btn@{if (versions.contains(version)) " btn-primary" else " btn-disabled"}">
                        @version
                    </button>
                }
            </div>
            <p>

            <div id="checkbox-container" class="inline">
                <p>Compare with predecessor</p>
                <input type="checkbox" name="compare-checkbox">
            </div>

            <div id="checkbox-container" class="inline">
                <p>Group by...</p>
                <input type="checkbox" name="group-by-checkbox">
            </div>

            <div id="tripleListPlaceholder"></div>
        </div>
    </div>


    <script type="text/html" id='tripleListTemplate'>


        <table class="table table-bodies-striped">
        <thead><tr>
            <th class="col-md-5"></th>
            <th class="col-md-1"></th>
            <th class="col-md-5"></th>
        </tr></thead>
            <%_.each(data,function(group,key){ %>
            <%var keyRepresentation = valueTemplate({value:group.key})%>
            <tbody >
                <% _.each(group.values,function(value,keyV,listV){
                    var representation = valueTemplate({value:value});
                    if (!value.right && compareMode) { %>
                        <tr><td class="right"><%= keyRepresentation%><%= representation%></td>
                        <td class="center"><image src="@routes.Assets.at("images/famfamfam/delete.png")"></td>
                        <td></td></tr> <% }
                    else if (!value.left && compareMode) { %>
                        <tr><td></td>
                        <td class="center"><image src="@routes.Assets.at("images/famfamfam/add.png")"></td>
                        <td><%= keyRepresentation%><%= representation%></td></tr> <% }
                    else { %>
                        <tr><td colspan="3" class="center"><%= keyRepresentation%><%= representation%></td></tr> <% } %>
                <% }); %>
            </tbody>
            <% }); %>
        </table>
    </script>

    <script type="text/html" id='valueTemplate'>
        <% if(value.node === "iri") { %>
            <a href ="<%=value.plain%>">
        <% if(value.prefix !== undefined && value.suffix !== undefined) { %>
            <%= value.prefix%>:<%=value.suffix%> <% }
            else { %>
                <%= value.plain %>
            <% } %>
            </a>
        <% }
        else { %>
            &quot;<%= value.plain %>&quot; <% } %>
        <% if(value.node === "iri") { %>
            <% } %>
    </script>

}