@(resource: String)(versions: List[String])

@main("DBpedia-diff") {

    <div class="container">
        <div class="starter-template">
            <h1>@controllers.Application.decodeEntity(resource)</h1>
            <p class="lead"><a href="http://dbpedia.org/page/@resource">
                http://dbpedia.org/page/@controllers.Application.decodeEntity(resource)
            </a></p>
            <p>
            <div class="dropdown inline" style="float:right" >
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                    Choose version
                    <span class="caret"></span></button>
                <ul id="versionselRight" class="dropdown-menu" role="menu" aria-labelledby="menu1">
                @for(version <- versions) {
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">@version</a></li>
                }
                </ul>
            </div>
            <div class="dropdown inline">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu2" data-toggle="dropdown">
                    Choose version
                    <span class="caret"></span></button>
                <ul id="versionselLeft" class="dropdown-menu" role="menu" aria-labelledby="menu2">
                @for(version <- versions) {
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">@version</a></li>
                }
                </ul>
            </div>
            <div id="tripleListPlaceholder"></div>
        </div>

    </div>

<script type="text/html" id='tripleListTemplate'>
    <table class="table">
    <thead><tr>
        <th class="col-md-6"></th>
        <th class="heading"></th>
        <th class="col-md-6"></th>
    </tr></thead>
        <% _.each(data,function(group,key,list){ %>
        <tbody>

            <tr class="heading"><td colspan="3"><%= group.key.plain%></td></tr>
            <% _.each(group.values,function(value,keyV,listV){ %>
                <% if (!value.right && compareMode) { %>
                    <tr><td class="right"><%= value.plain%></td>
                    <td><image src="@routes.Assets.at("images/famfamfam/delete.png")"></td>
                    <td></td></tr> <% }
                else if (!value.left && compareMode) { %>
                    <tr><td></td>
                    <td><image src="@routes.Assets.at("images/famfamfam/add.png")"></td>
                    <td><%= value.plain%></td></tr> <% }
                else { %>
                    <tr><td colspan="3" class="commonEntry"><%= value.plain%></td></tr> <% } %>
            <% }); %>
        </tbody>
        <% }); %>
    </table>
</script>
}
